
@import "tailwindcss";

/* .no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* IE + Edge */
    /* scrollbar-width: none; */
    /* Firefox */
/* } */ 



* {
    font-family: 'Segoe UI', system-ui, sans-serif;
}

body {
    background: #07050f;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.orb {
    position: fixed;
    border-radius: 50%;
    pointer-events: none;
    z-index: 0;
    filter: blur(80px);
}

.glass {
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(24px);
    border: 1px solid rgba(255, 255, 255, 0.07);
}

.glass-purple {
    background: rgba(168, 85, 247, 0.06);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(168, 85, 247, 0.15);
}

.gold-text {
    background: linear-gradient(135deg, #a855f7, #fbbf24);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.purple-btn {
    background: linear-gradient(135deg, #7c3aed, #9f67ff);
}

.card-hover:hover {
    transform: translateY(-8px) scale(1.05);
    border-color: rgba(168, 85, 247, 0.4) !important;
    box-shadow: 0 8px 28px rgba(120, 60, 255, 0.3);
}

* {
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

/* ✅ Sirf inputs mein select allow karo */
input,
textarea {
    -webkit-user-select: text;
    user-select: text;
}